
@keyframes fadeOut {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }       
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.img{
    animation: fadeOut 2s;
    position: absolute;
    opacity: 0;
    width: 100vw;
    height: 85vh;
}

.active{
    animation: fadeIn 2s;
    height: 85vh;
    width: 100vw
}

.container{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    max-height: fit-content;
}
