.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin: 0 20px 0 20px;
}

.routes{
    display: flex;
    gap: 30px;
    align-self: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > img{
    width: 100px;
}

.routes a{
    font-size: 32px;
    font-weight: bolder;
    color: black;
}

a,a:visited,a:active{
    text-decoration: none;
}