.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0px 10px 0px 10px;
}

.routes{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo > img{
    width: 100px;
}

.routes a{
    font-size: 30px;
    font-weight: bolder;
    color: black;
}

a,a:visited{
    text-decoration: none;
}

.count{
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.active{
    border: 5px black solid;
    padding: 5px;
    border-radius: 5px;
}